@page "/AuthExample"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(policy: "PersonIdentifierPolicy")]

<h3>Você está autenticado!</h3>5435435345dasdsadsadsadsadsadsadsadasdasdasdas

@code {
    
}