[b-qf766v80us] .text_color_white {
    color: var(--egress-color-white);
}

[b-qf766v80us] .text_color_darkgreen {
    color: var(--egress-color-darkgreen);
}

footer[b-qf766v80us] {
    min-height: 200px;
    height:100%;
    background-color: #000012;
}

[b-qf766v80us] .footer_center {
    max-width:1200px;
    width: 100%;
    min-height:200px;
}