[b-luu46lk4br] .text_color_white {
    color: var(--egress-color-white);
}

[b-luu46lk4br] .text_color_darkgreen {
    color: var(--egress-color-darkgreen);
}

footer[b-luu46lk4br] {
    min-height: 200px;
    height:100%;
    background-color: #000012;
}

[b-luu46lk4br] .footer_center {
    max-width:1200px;
    width: 100%;
    min-height:200px;
}