[b-tb28kyx1of] .text_color_white {
    color: var(--egress-color-white);
}

.background_color_darkgreen[b-tb28kyx1of] {
    background-color: var(--egress-color-darkgreen);
}

.title_page[b-tb28kyx1of] {
    min-height:115px;
}

[b-tb28kyx1of] .title_page_center {
    max-width: 1000px;
}

[b-tb28kyx1of] .page_title_text_align {
    text-align: right;
}

[b-tb28kyx1of] .page_subtitle_text_align {
    text-align: left;
}


@media (max-width: 960px) {
    [b-tb28kyx1of] .page_title_text_align {
        text-align: center;
    }

    [b-tb28kyx1of] .page_subtitle_text_align {
        text-align: center;
    }
}