<div class="d-flex flex-column align-items-center w-100 p-5">
    <div class="d-flex flex-column m-0 p-5 align-items-center gap-4" style="width:100%;max-width: 600px;">
        <MudProgressCircular Color="Color.Success" Indeterminate="true"/>
        <MudText Typo="Typo.subtitle1" Align="Align.Center" Class="fw-bold">Autorizando...</MudText>
    </div>
</div>