
[b-jou6ekmjx1] .testimonies_main {
    background: url(img/index/background_testimony_left.png) no-repeat top left, url(img/index/background_testimony_right.png) no-repeat top right;
    padding-bottom: 50px;
}

[b-jou6ekmjx1] .testimonies_main_left {
    order: 0;
}

[b-jou6ekmjx1] .testimonies_main_right {
    order: 2;
}

[b-jou6ekmjx1] .testimonies_main_center {
    order: 1;
    min-height: 314px;
}

[b-jou6ekmjx1] .testimonies_main_center_space {
    display: none;
}

[b-jou6ekmjx1] .testimonies_content {
    padding:20px 50px;
}

@media (max-width: 960px) {
    [b-jou6ekmjx1] .testimonies_main_left {
        order: 1;
    }

    [b-jou6ekmjx1] .testimonies_main_center {
        order: 0;
    }

    [b-jou6ekmjx1] .testimonies_main_center_space {
        display: block;
    }
}