/* /Pages/Index.razor.rz.scp.css */
.banner_index[custom-scope-identifier] {
    background-color: var(--egress-color-darkblue);
}

.banner_index_center[custom-scope-identifier] {
    max-width: 1200px;
}

[custom-scope-identifier] .banner_left {
    max-width: 300px;
}

[custom-scope-identifier] .banner_right {
     max-width: 100%;
 }

.register_message_button_large[custom-scope-identifier] {
    display: block;
}

[custom-scope-identifier] .register_message_button_small {
    display: none;
}

@media (max-width: 960px) {
    [custom-scope-identifier] .banner_right {
        max-height: 300px;
    }

    .nav_hidden_link[custom-scope-identifier], .nav_hidden_access_button[custom-scope-identifier]{
        display: none;
    }

    .nav_hidden_button[custom-scope-identifier]{
        display: block;
    }

    .register_message_button_large[custom-scope-identifier] {
        display: none;
    }

    [custom-scope-identifier] .register_message_button_small {
        display: block;
    }
}
/* /Shared/FooterComponent.razor.rz.scp.css */
[b-qf766v80us] .text_color_white {
    color: var(--egress-color-white);
}

[b-qf766v80us] .text_color_darkgreen {
    color: var(--egress-color-darkgreen);
}

footer[b-qf766v80us] {
    min-height: 200px;
    height:100%;
    background-color: #000012;
}

[b-qf766v80us] .footer_center {
    max-width:1200px;
    width: 100%;
    min-height:200px;
}
/* /Shared/Index/EgressChartComponent.razor.rz.scp.css */

.main-center[b-mi71bwfgrk] {
    max-width: 1200px;
}

[b-mi71bwfgrk] .total-text-color {
    color: var(--egress-color-darkgreen);
}

/* /Shared/Index/EgressRandomHighlightsIndexComponent.razor.rz.scp.css */
.highlights_main[b-i5a1lm9wyl] {
    background-color: #384861;
    padding:30px 0;
}

.highlights_main_center[b-i5a1lm9wyl] {
    max-width: 1200px;
}

.highlights_each[b-i5a1lm9wyl] {
    height: 419px;
    min-width: 134px;
    max-width: 400px;
    background: url("../img/index/highlights_fire.png") no-repeat top center;
}

[b-i5a1lm9wyl] .highlights_title_mud_item {
    order: 1;
}

[b-i5a1lm9wyl] .highlights_list_mud_item {
    order: 0;
    padding:0;
}

@media (max-width: 960px) {
    [b-i5a1lm9wyl] .highlights_title_mud_item {
        order: 0;
    }

    [b-i5a1lm9wyl] .highlights_list_mud_item {
        order: 1;
        padding-bottom: 150px;
    }
}
/* /Shared/Index/EgressRandomTestimoniesComponent.razor.rz.scp.css */

[b-jou6ekmjx1] .testimonies_main {
    background: url(img/index/background_testimony_left.png) no-repeat top left, url(img/index/background_testimony_right.png) no-repeat top right;
    padding-bottom: 50px;
}

[b-jou6ekmjx1] .testimonies_main_left {
    order: 0;
}

[b-jou6ekmjx1] .testimonies_main_right {
    order: 2;
}

[b-jou6ekmjx1] .testimonies_main_center {
    order: 1;
    min-height: 314px;
}

[b-jou6ekmjx1] .testimonies_main_center_space {
    display: none;
}

[b-jou6ekmjx1] .testimonies_content {
    padding:20px 50px;
}

@media (max-width: 960px) {
    [b-jou6ekmjx1] .testimonies_main_left {
        order: 1;
    }

    [b-jou6ekmjx1] .testimonies_main_center {
        order: 0;
    }

    [b-jou6ekmjx1] .testimonies_main_center_space {
        display: block;
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
*[b-0pwkcpkyl9] {
    margin:0;
    padding: 0;
}
/* /Shared/NavMenuComponent.razor.rz.scp.css */
.text_color_green[b-7q4s4latd0] {
    color: var(--egress-color-green);
}

[b-7q4s4latd0] .text_color_white {
    color: var(--egress-color-white);
}

.nav_main[b-7q4s4latd0] {
    background: var(--egress-color-darkblue);
    min-height: 110px;
    width: 100%;
}

[b-7q4s4latd0] .nav_main_center {
    width: 100%;
    max-width: 1200px;
}

.nav_hidden[b-7q4s4latd0] {
    width: 100%;
    height: 100%
}

.nav_hidden_link[b-7q4s4latd0], .nav_hidden_access_button[b-7q4s4latd0] {
    display: block;
}

.nav_hidden_button[b-7q4s4latd0] {
    display: none;
}

@media (max-width: 960px) {
    .nav_logo_text[b-7q4s4latd0] {
        text-align: center;
    }

    .nav_hidden_link[b-7q4s4latd0], .nav_hidden_access_button[b-7q4s4latd0]{
        display: none;
    }

    .nav_hidden_button[b-7q4s4latd0]{
        display: block;
    }
}

/* /Shared/NavMenuLogInLogOutComponent.razor.rz.scp.css */
[b-vqopt682ti] .text_color_white {
    color: var(--egress-color-white);
}

[b-vqopt682ti] .text_color_darkgreen {
    color: var(--egress-color-darkgreen);
}
/* /Shared/TitlePageComponent.razor.rz.scp.css */
[b-nivydxvd76] .text_color_white {
    color: var(--egress-color-white);
}

.background_color_darkgreen[b-nivydxvd76] {
    background-color: var(--egress-color-darkgreen);
}

.title_page[b-nivydxvd76] {
    min-height:115px;
}

[b-nivydxvd76] .title_page_center {
    max-width: 1000px;
}

[b-nivydxvd76] .page_title_text_align {
    text-align: right;
}

[b-nivydxvd76] .page_subtitle_text_align {
    text-align: left;
}


@media (max-width: 960px) {
    [b-nivydxvd76] .page_title_text_align {
        text-align: center;
    }

    [b-nivydxvd76] .page_subtitle_text_align {
        text-align: center;
    }
}
