.text_color_white {
    color: var(--egress-color-white);
}

.text_color_yellow {
    color: var(--egress-color-yellow);
}

.text_color_green {
    color: var(--egress-color-green);
}

.text_color_gray_1 {
    color: var(--egress-color-gray-1);
}