@page "/destaques"
@using EgressPortal.Shared.Utils
@using EgressPortal.Shared.Highlights
@using System.Net
@inject ISnackbar Snackbar
@inject IEgressServices EgressServices

<PageTitle>Destaques | Um pouco das conquistas dos egressos.</PageTitle>

<TitlePageComponent Title="Destaques" SubTitle="Um pouco das conquistas dos egressos."/>

<div class="d-flex flex-column align-items-center w-100">
    <div class="d-flex flex-column m-0 p-5" style="width:100%;max-width: 1000px;">
        <PaginationComponent TotalPages="_totalPages" ChangePageNumberCallback="ChangePageNumberAsync" Items="_highlights">
            <ViewItemComponent>
                <HighlightsItemPaginationComponent Highlights="context"/>
            </ViewItemComponent>
        </PaginationComponent>
    </div>
</div>

@code {
    #region Constants
    private const int PAGE_SIZE = 2;
    #endregion

    private List<HighlightResponseApi> _highlights = new();

    private int _totalPages = 1;

    private async Task ChangePageNumberAsync(int pageNumber)
    {
        await GetPaginateHighlightsAsync(pageNumber);
    }

    private async Task GetPaginateHighlightsAsync(int pageNumber)
    {
        var result = await EgressServices.GetPaginateHighlightsAsync(pageNumber, PAGE_SIZE);

        if (result.StatusCode.Equals((int)HttpStatusCode.OK))
        {
            if (result.Data?.Data is not null)
            {
                _highlights = result.Data.Data.ToList();
                _totalPages = result.Data.TotalPages;
            }
        }
        else
        {
            foreach (var error in result.Errors)
            {
                Snackbar.Add(error, Severity.Error);
            }
        }
    }
}