@page "/"
@using EgressPortal.Models

<PageTitle>Portal de Egressos da UESC</PageTitle>

<div class="d-flex flex-column align-items-center w-100 banner_index ">
    <div class="d-flex m-0 p-0 w-100 banner_index_center">
        <MudGrid Class="d-flex m-0 p-0">
            <MudItem xs="12" sm="12" md="3" lg="3" Class="d-flex m-0 mb-3 p-0 text-start align-items-center align-content-center justify-content-center">
                <MudImage Src="img/index/banner_left.png" Alt="Estudante" Class="w-100 banner_left"/>
            </MudItem>
            <MudItem xs="12" sm="12" md="7" lg="7" Class="d-flex flex-column px-5 m-0 gap-3 justify-content-center">
                <MudText Typo="Typo.subtitle1" Color="Color.Warning" Class="fw-bold px-4">SEJA BEM VINDO AO PORTAL DE EGRESSOS!</MudText>
                <MudText Typo="Typo.body1" Align="Align.Justify" Class="text_color_white px-4">Aqui você poderá conhecer melhor o perfil do egresso da Universidade Estadual de Santa Cruz - UESC, localizado na cidade de Ilhéus - Bahia.</MudText>
                <div class="register_message_button_large px-4">
                    <MudText Typo="Typo.body1" Align="Align.Justify" Class="text_color_white">Se você é um egresso, faça seu cadastro.</MudText>
                    <div class="d-flex w-100 justify-content-end px-4">
                        <MudButton Variant="Variant.Outlined" Color="Color.Warning" Href="@RouteSettings.RegisterRoute">Cadastro</MudButton>
                    </div>
                </div>
            </MudItem>
            <MudItem xs="6" sm="6" md="0" lg="0" Class="text-center register_message_button_small ps-5">
                <div class="d-flex flex-column justify-content-center align-items-center align-content-center h-100 ps-5 gap-3">
                    <MudText Typo="Typo.body1" Align="Align.Center" Class="text_color_white">Se você é um egresso, faça seu cadastro.</MudText>
                    <div class="d-flex w-100 justify-content-center align-items-start">
                        <MudButton Variant="Variant.Outlined" Color="Color.Warning" Href="@RouteSettings.RegisterRoute">Cadastro</MudButton>
                    </div>
                </div>
            </MudItem>
            <MudItem xs="6" sm="6" md="2" lg="2" Class="d-flex m-0 p-0 justify-content-end align-items-end">
                <MudImage Src="img/index/banner_right.png" Alt="Logo universidade" Class="banner_right"/>
            </MudItem>
        </MudGrid>
    </div>
</div>

<EgressChartComponent />

<EgressRandomHighlightsIndexComponent />

<EgressRandomTestimoniesComponent />

@code {
}