@page "/depoimentos"
@using EgressPortal.Shared.Utils
@using EgressPortal.Shared.Testimonies
@using EgressPortal.Models
@using EgressPortal.Models.API.HttpClient.Egress.Testimony

<PageTitle>Depoimentos | Veja o que os egressos relatam sobre a UESC.</PageTitle>

<TitlePageComponent Title="Depoimentos" SubTitle="Veja o que os egressos relatam sobre a UESC."/>

@* <div class="d-flex flex-column align-items-center w-100"> *@
@*     <div class="d-flex flex-column m-0 p-5" style="width:100%;max-width: 1000px;"> *@
@*         <PaginationComponent TotalPages="2" ChangePageNumberCallback="ChangePageNumber" Items="Testimonies"> *@
@*             <ViewItemComponent> *@
@*                 <TestimonyItemPagination Testimony="context"/> *@
@*             </ViewItemComponent> *@
@*         </PaginationComponent> *@
@*     </div> *@
@* </div> *@
@* *@
@* @code { *@
@*     public List<GetRandomTestimonyResponseApi> Testimonies = null!; *@
@* *@
@*     protected override Task OnInitializedAsync() *@
@*     { *@
@*         ChangePageNumber(1); *@
@*         return Task.CompletedTask; *@
@*     } *@
@* *@
@*     private void ChangePageNumber(int pageNumber) *@
@*     { *@
@*          *@
@*     } *@
@* }<div class="d-flex flex-column align-items-center w-100"> *@
@*     <div class="d-flex flex-column m-0 p-5" style="width:100%;max-width: 1000px;"> *@
@*         <PaginationComponent TotalPages="2" ChangePageNumberCallback="ChangePageNumber" Items="Testimonies"> *@
@*             <ViewItemComponent> *@
@*                 <TestimonyItemPagination Testimony="context"/> *@
@*             </ViewItemComponent> *@
@*         </PaginationComponent> *@
@*     </div> *@
@* </div> *@
@* *@
@* @code { *@
@*     public List<GetRandomTestimonyResponseApi> Testimonies = null!; *@
@* *@
@*     protected override Task OnInitializedAsync() *@
@*     { *@
@*         ChangePageNumber(1); *@
@*         return Task.CompletedTask; *@
@*     } *@
@* *@
@*     private void ChangePageNumber(int pageNumber) *@
@*     { *@
@*          *@
@*     } *@
@* } *@