
<footer class="d-flex justify-content-center align-items-center w-100">
    <MudGrid Class="m-0 py-3 footer_center">
        <MudItem xs="12" sm="12" md="4" lg="4" Class="d-flex flex-column gap-1 p-4 justify-content-center align-items-md-start align-items-sm-center align-items-center">
            <div class="d-flex flex-row gap-3 w-50">
                <MudIcon Class="text_color_white" Icon="@Icons.Material.Filled.MyLocation"/>
                <MudText Typo="Typo.caption" Class="text_color_white" Align="Align.Justify">
                    Campus Soane Nazaré de Andrade, Rodovia Jorge Amado, km 16, Bairro Salobrinho.<br/>
                    CEP 45662-900.<br/>
                    Ilhéus-Bahia.
                </MudText>
            </div>
            <div class="d-flex flex-row gap-3 w-50">
                <MudIcon Class="text_color_white" Icon="@Icons.Material.Filled.Mail"/>
                <MudText Typo="Typo.caption" Class="text_color_white">egressocomputacao@uesc.br</MudText>
            </div>
        </MudItem>
        <MudItem xs="12" sm="12" md="4" lg="4" Class="d-flex flex-row justify-content-center gap-3 p-3 m-0">
            <MudIconButton Icon="@Icons.Custom.Brands.Facebook" Size="Size.Large" Class="m-0 p-0 text_color_darkgreen"/>
            <MudIconButton Icon="@Icons.Custom.Brands.Instagram" Size="Size.Large"  Class="m-0 p-0 text_color_darkgreen"/>
        </MudItem>
        <MudItem xs="12" sm="12" md="4" lg="4" Class="d-flex flex-row justify-content-center justify-content-sm-center justify-content-md-end align-items-center gap-4 p-4">
            <MudImage Src="img/uesc_logo.png" Height="60" Alt="Uesc logo" Elevation="25"/>
            <MudImage Src="img/governo_estado_logo.png" Height="60" Alt="Governo do Estado logo" Elevation="25"/>
        </MudItem>
    </MudGrid>
</footer>


@code {

}