<div class="d-flex flex-column w-100 justify-content-center align-content-center align-items-center background_color_darkgreen p-3 title_page">
    <MudGrid Class="d-flex flex-row w-100 align-items-center title_page_center">
        <MudItem xs="5" sm="5" md="3" lg="3" Class="page_title_text_align">
            <MudText Typo="Typo.h5" Class="text_color_white fw-bold">@Title.ToUpper()</MudText>
        </MudItem>
        <MudItem xs="2" sm="2" md="1" lg="1" Class="text-center">
            <MudText Typo="Typo.h2" Class="text_color_white">|</MudText>
        </MudItem>
        <MudItem xs="5" sm="5" md="8" lg="8" Class="page_subtitle_text_align">
            <MudText Typo="Typo.subtitle1" Class="text_color_white fw-bold">@SubTitle</MudText>
        </MudItem>
    </MudGrid>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public string Title { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public string SubTitle { get; set; } = null!;
}