/* /Pages/Index.razor.rz.scp.css */
.banner_index[custom-scope-identifier] {
    background-color: var(--egress-color-darkblue);
}

.banner_index_center[custom-scope-identifier] {
    max-width: 1200px;
}

[custom-scope-identifier] .banner_left {
    max-width: 300px;
}

[custom-scope-identifier] .banner_right {
     max-width: 100%;
 }

.register_message_button_large[custom-scope-identifier] {
    display: block;
}

[custom-scope-identifier] .register_message_button_small {
    display: none;
}

@media (max-width: 960px) {
    [custom-scope-identifier] .banner_right {
        max-height: 300px;
    }

    .nav_hidden_link[custom-scope-identifier], .nav_hidden_access_button[custom-scope-identifier]{
        display: none;
    }

    .nav_hidden_button[custom-scope-identifier]{
        display: block;
    }

    .register_message_button_large[custom-scope-identifier] {
        display: none;
    }

    [custom-scope-identifier] .register_message_button_small {
        display: block;
    }
}
/* /Shared/FooterComponent.razor.rz.scp.css */
[b-luu46lk4br] .text_color_white {
    color: var(--egress-color-white);
}

[b-luu46lk4br] .text_color_darkgreen {
    color: var(--egress-color-darkgreen);
}

footer[b-luu46lk4br] {
    min-height: 200px;
    height:100%;
    background-color: #000012;
}

[b-luu46lk4br] .footer_center {
    max-width:1200px;
    width: 100%;
    min-height:200px;
}
/* /Shared/Index/EgressChartComponent.razor.rz.scp.css */

.main-center[b-u1c65whmwe] {
    max-width: 1200px;
}

[b-u1c65whmwe] .total-text-color {
    color: var(--egress-color-darkgreen);
}

/* /Shared/Index/EgressRandomHighlightsIndexComponent.razor.rz.scp.css */
.highlights_main[b-huxz80puxk] {
    background-color: #384861;
    padding:30px 0;
}

.highlights_main_center[b-huxz80puxk] {
    max-width: 1200px;
}

.highlights_each[b-huxz80puxk] {
    height: 419px;
    min-width: 134px;
    max-width: 400px;
    background: url("../img/index/highlights_fire.png") no-repeat top center;
}

[b-huxz80puxk] .highlights_title_mud_item {
    order: 1;
}

[b-huxz80puxk] .highlights_list_mud_item {
    order: 0;
    padding:0;
}

@media (max-width: 960px) {
    [b-huxz80puxk] .highlights_title_mud_item {
        order: 0;
    }

    [b-huxz80puxk] .highlights_list_mud_item {
        order: 1;
        padding-bottom: 150px;
    }
}
/* /Shared/Index/EgressRandomTestimoniesComponent.razor.rz.scp.css */

[b-7cemfi2a64] .testimonies_main {
    background: url(img/index/background_testimony_left.png) no-repeat top left, url(img/index/background_testimony_right.png) no-repeat top right;
    padding-bottom: 50px;
}

[b-7cemfi2a64] .testimonies_main_left {
    order: 0;
}

[b-7cemfi2a64] .testimonies_main_right {
    order: 2;
}

[b-7cemfi2a64] .testimonies_main_center {
    order: 1;
    min-height: 314px;
}

[b-7cemfi2a64] .testimonies_main_center_space {
    display: none;
}

@media (max-width: 960px) {
    [b-7cemfi2a64] .testimonies_main_left {
        order: 1;
    }

    [b-7cemfi2a64] .testimonies_main_center {
        order: 0;
    }

    [b-7cemfi2a64] .testimonies_main_center_space {
        display: block;
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
*[b-nfwxva671o] {
    margin:0;
    padding: 0;
}
/* /Shared/NavMenuComponent.razor.rz.scp.css */
.text_color_green[b-d67n8qhy31] {
    color: var(--egress-color-green);
}

[b-d67n8qhy31] .text_color_white {
    color: var(--egress-color-white);
}

.nav_main[b-d67n8qhy31] {
    background: var(--egress-color-darkblue);
    min-height: 110px;
    width: 100%;
}

[b-d67n8qhy31] .nav_main_center {
    width: 100%;
    max-width: 1200px;
}

.nav_hidden[b-d67n8qhy31] {
    width: 100%;
    height: 100%
}

.nav_hidden_link[b-d67n8qhy31], .nav_hidden_access_button[b-d67n8qhy31] {
    display: block;
}

.nav_hidden_button[b-d67n8qhy31] {
    display: none;
}

@media (max-width: 960px) {
    .nav_logo_text[b-d67n8qhy31] {
        text-align: center;
    }

    .nav_hidden_link[b-d67n8qhy31], .nav_hidden_access_button[b-d67n8qhy31]{
        display: none;
    }

    .nav_hidden_button[b-d67n8qhy31]{
        display: block;
    }
}

/* /Shared/NavMenuLogInLogOutComponent.razor.rz.scp.css */
[b-64cdy17d03] .text_color_white {
    color: var(--egress-color-white);
}

[b-64cdy17d03] .text_color_darkgreen {
    color: var(--egress-color-darkgreen);
}
/* /Shared/TitlePageComponent.razor.rz.scp.css */
[b-tb28kyx1of] .text_color_white {
    color: var(--egress-color-white);
}

.background_color_darkgreen[b-tb28kyx1of] {
    background-color: var(--egress-color-darkgreen);
}

.title_page[b-tb28kyx1of] {
    min-height:115px;
}

[b-tb28kyx1of] .title_page_center {
    max-width: 1000px;
}

[b-tb28kyx1of] .page_title_text_align {
    text-align: right;
}

[b-tb28kyx1of] .page_subtitle_text_align {
    text-align: left;
}


@media (max-width: 960px) {
    [b-tb28kyx1of] .page_title_text_align {
        text-align: center;
    }

    [b-tb28kyx1of] .page_subtitle_text_align {
        text-align: center;
    }
}
